@model IEnumerable<EcoWater.Models.Embarcacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bandeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano_Fabricação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Proprietario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bandeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano_Fabricação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Proprietario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Embarcacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Embarcacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Embarcacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
