@model EcoWater.Models.Monitoramentos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monitoramentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Embarcacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Embarcacoes.Bandeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensores.Data_Instalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel_Poluicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel_Poluicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Monitoramento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
